<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlueWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>825147681C0F9E8300DB9692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8251477C1C0F9E8400DB9692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>825147871C0F9E8400DB9692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
